h1{
    color: #cb0d0d;
}
div,p,ol{
    background-color: aqua;
    margin: 10px;
    margin-bottom: 20px;
    background-size: 20px;
    font-weight: 300;
    border: 10px solid tomato;
}
img{
    border: 5px solid blueviolet;
}